body {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #875053;
    line-height: 28px;
}

form {
    background-color: #D2BF55;
    width: 50%;
    height: 410px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
    line-height: 77px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

p {
    color: #2B061E;
}

input {
    background-color: #FFEED6;
    border-radius: 3px;
    border-color: #875053;
}

.btn {
    width: 40%;
    height: 40px;
    border-radius: 3px;
    border-color: #875053;
    background-color: #FFEED6;
    color: #2B061E;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

